body {
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
}
.jumbotron {
    background-image: url('images/train-me.jpg');
    background-size: cover;
}
#train-table {
    background-color: #777;
}
strong {
    color: #ccc;
}
#requestcolor {
    color: #333;
}
h1 {
    color: #fff;
}
.navbar {
    background-color: #111;
}
.lead {
    color: #fff;
}